{% extends "_templates/base.twig" %} {% block content %}
<div class="container">
	<div class="jumbotron">
		<p>Se ha producido un error al intentar establecer una conexión con la
			base de datos Esto puede significar que la información sobre el
			nombre de usuario y la contraseña que contiene tu archivo
			config.php es incorrecta, o bien que no ha sido posible conectar
			con el servidor de la base de datos en localhost. La causa podría ser
			que el host de la base de datos esté caído. </p>
			<ol>
			<li>¿Estás seguro de que el
			nombre de usuario y la contraseña son correctos? </li>
			<li>¿Estás seguro de
			haber escrito correctamente el hostname?</li>
			<li>¿Estás seguro que el
			servidor de la base de datos funciona correctamente?</li>
			</ol> 
			<p>Si no sabes con
			seguridad qué significan algunas de las preguntas anteriores te
			aconsejamos contactar con la empresa donde tengas contratado tu
			alojamiento. Si aun después de hacerlo necesitas ayuda puedes probar
			a visitar el foro de ayuda de Kenollega.</p>

		<a href="{{ constant('URL') }}instalador/configuracion/"
			class="btn btn-info">!Inténtalo de nuevo!</a>

	</div>
</div>

{% endblock %}




